################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web2020/Web2020/obj/Debug/netcoreapp3.1
