body {
    color: #fff;
    background: #63738a;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

    .form-control:focus {
        border-color: #5cb85c;
    }

.form-control, .btn {
    border-radius: 3px;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

    .container h2 {
        color: #636363;
        margin: 0 0 15px;
        position: relative;
        text-align: center;
    }

        .container h2:before, .container h2:after {
            content: "";
            height: 2px;
            width: 30%;
            background: #d4d4d4;
            position: absolute;
            top: 50%;
            z-index: 2;
        }

        .container h2:before {
            left: 0;
        }

        .container h2:after {
            right: 0;
        }

    .container .hint-text {
        color: #999;
        margin-bottom: 30px;
        text-align: center;
    }

    .container form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #f2f3f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .container .form-group {
        margin-bottom: 20px;
    }

    .container input[type="checkbox"] {
        margin-top: 3px;
    }

    .container .btn {
        font-size: 16px;
        font-weight: bold;
        min-width: 140px;
        outline: none !important;
    }

    .container .row div:first-child {
        padding-right: 10px;
    }

    .container .row div:last-child {
        padding-left: 10px;
    }

    .container a {
        color: #fff;
        text-decoration: underline;
    }

        .container a:hover {
            text-decoration: none;
        }

    .container form a {
        color: #5cb85c;
        text-decoration: none;
    }

        .container form a:hover {
            text-decoration: underline;
        }
